streamlit
opencv-python-headless
numpy
pytesseract
transformers
pinecone-client
langchain
python-dotenv
pandas
matplotlib
wordcloud
spacy
datetime
seaborn
scikit-learn
requests
beautifulsoup4
tf-keras
torch
